
.title {
    text-align: center;
    color: grey;
}

.reportTable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.reportTable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.reportTable tr {background-color:#d4e3e5;}
.reportTable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.reportTable tr:hover {background-color:#ffffff;}


/* Tooltip container */
.tooltipTitle {
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #3C676E;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext div{
    padding: 5px;
}

.tooltip .tooltiptext div span{
    display: inline-block;
}

.fileSize{
    width: 70px;
}
.fileTime{
    width: 50px;
}
.fileUrl{
    width: 300px;
}